.textfooter{
    text-align: center;
    font-size: 10px;
    margin-left:30px;
    margin-right:30px;
    color: #048B9A;
} 
  .titre1{
    font-weight: bolder;
    color: #048B9A;
  }
  ion-content {
    --ion-background-color: #e3eeee	;
  }
  ion-footer {
    --ion-background-color: #e3eeee	;
  }