<ion-header>
  <ion-toolbar  color="primary" class="tetehaut">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mon CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  lines="none">
    <ion-thumbnail slot="start">
         <img src="/assets/img/ch.jpg" >  
    </ion-thumbnail>
      <ion-label padding>
        <h2><strong>Prénom: Cheikh Diop</strong></h2>
        <h3><strong>Nom : Gaye</strong></h3> 
        <h6 class="titre1">Téléphone: 773658401</h6>
        <h6 class="titre1">E-mail: diopgaye8045@gmail.com</h6>
      </ion-label>
  </ion-item>
  <ion-list lines="none">
    <ion-card>
      <ion-item color="light">
        <ion-label  class="titre1"><strong>Informations personnelles</strong></ion-label>
        <ion-icon (click)="addinfosPerso()" name="add-circle"></ion-icon>
        <ion-icon  name="list-box"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item  color="light" >
        <ion-label class="titre1"><strong>Expériences professionnelles</strong></ion-label>
        <ion-icon (click)="addexperience()" name="add-circle"></ion-icon>
        <ion-icon  name="list-box"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item  color="light">
        <ion-label class="titre1"><strong>Formations et Certifications</strong></ion-label>
        <ion-icon (click)="addFormations()" name="add-circle"></ion-icon>
        <ion-icon  name="list-box"></ion-icon>
      </ion-item>
    </ion-card>
  <ion-card>
      <ion-item  color="light">
        <ion-label class="titre1"><strong>Langues</strong></ion-label>
        <ion-icon (click)="addLangues()"  name="add-circle"></ion-icon>
        <ion-icon  name="list-box"></ion-icon>
    </ion-item>
  </ion-card>
</ion-list>
</ion-content>
<ion-footer >
  <ion-toolbar color="tertiary">
    <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
  </ion-toolbar>
</ion-footer>
