.header {
    height: 150px;
    background-color: #048B9A;
    width: 100%;
    padding-top: 1px;
}
.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}
.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}
.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 7px solid #abd3db;
    border-radius: 50%;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}