<ion-content>
  <div class="header">
    <h2>Cheikh Diop Gaye</h2>
  </div>
  <div class="flex">
    <div class="box-border">
      <div class="border-white">
        <div class="img-box">
          <img src="/assets/img/ch.jpg">
        </div>
      </div>
    </div>
  </div>
</ion-content>