<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="onReturn()">
          <ion-icon name="md-arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title class="ion-text-center">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-content>
          <ion-list >
              <ion-item>
                  <ion-label><strong>Prénom :</strong></ion-label>
                  <ion-label>{{cand.prenom}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label><strong>Nom :</strong></ion-label>
                  <ion-label>{{cand.nom}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label><strong>Téléphone :</strong></ion-label>
                  <ion-label>{{cand.telephone}}</ion-label>
              </ion-item>
             <!--  <ion-item>
                  <ion-label><strong>Téléphone :</strong></ion-label>
                  <ion-label>{{transaction.telephoneRecepteur}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label><strong>Montant :</strong></ion-label>
                  <ion-label>{{transaction.montant | number:'0.0'}}</ion-label>
              </ion-item> -->
          </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>