<ion-header>
  <ion-toolbar color="primary"  lines="none">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>
  <ion-toolbar  color="tertiary" lines="none"> 
    <ion-card-content padding>
      <div class="titres">
        <h2 class="titre1" >Ajouter une expérience</h2>
    </div>
  </ion-card-content>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card-content class="ion-padding">
    <div class="container">
      <div class="row">                                                                                  
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate >
        <div class="form-group">
          <label for="exampleInputEmail1">Intitulé du poste</label>
          <input type="text" placeholder="Exp: Développeur"  formControlName="poste" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.poste.errors?.required">
            L'intitulé du poste ne doit etre vide.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.poste.errors?.minlength">
            Ce Nom est trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Entreprise</label>
          <input type="text" placeholder="Exp: Hakim Digital"  formControlName="nomentreprise" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nomentreprise.errors?.required">
            Le nom de l'entreprise est obligatoire.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nomentreprise.errors?.minlength">
            Nom  trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Lieu</label>
          <input type="text" placeholder="Exp: Dakar, Sénégal"  formControlName="lieu" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lieu.errors?.minlength">
            Nom  trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Date de début</label>
          <ion-datetime (ionChange)="getDate($event)" class="form-control" formControlName="datedebut" [value]="defaultDate"><ion-icon slot="end" name="calendar-outline"></ion-icon></ion-datetime>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.datedebut.errors?.required">
            La date de début est obligatoire.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Date de fin</label>
          <ion-datetime (ionChange)="getDate($event)" class="form-control" formControlName="datefin" [value]="defaultDate"><ion-icon slot="end" name="calendar-outline"></ion-icon></ion-datetime>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.datefin.errors?.required">
            La date de fin est obligatoire.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description du poste</label>
          <textarea  type="text"   formControlName="description" class="form-control" rows="3"></textarea>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
            Description trop court.
          </span>
        </div>
        <ion-button type="submit" class="boutton"  expand="block" color="primary">Valider</ion-button>
        <ion-button type="submit" class="boutton" (click)=" onReturn()" expand="block" color="danger">Annuler</ion-button>
        </form>
      </div>
    </div> 
  </ion-card-content>
</ion-content>
<ion-footer >
  <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
</ion-footer>