ion-content {
  --ion-background-color: #e3eeee	;
} 
ion-toolbar {
  --ion-background-color: #e3eeee	; 
} 


.titleicon div{
  display:inline-block;
  margin-bottom:10px;
  }
#logos {
  width: 50%;
  height: 50%;
}
.titre1{
  font-weight: bolder;
  color: #048B9A;
  padding: right;
}
.titre2{
  color: #ffffff;
  font-weight: bolder;
}
.titre3{
  color: #048B9A;
  padding: right;
}
/* .tete1{
  height:20px;
} */
.tete2{
  height:20px;
}
.imagelogo{
  width:70%;
  height:70%;
}
.tetehaut{
  height: 35%;
}
.titrehaut{
  height: 40%;
}

.page-home {
  .profile-picture {
    position: relative;

    .profile-picture__icon {
      border-radius: 50%;
      background: dark;
      color: light;
      font-size: 2rem;

      position: absolute;
      left: 55%;
      width: 32px;
      height: 32px;
      padding-top: 3px;
    }

    .profile-picture__image {
      border-radius: 50%;
      height: 128px;
      width: 128px;
    }
  }
  .validation-errors{
    color:red;
  }
  .tof{
    width: 150px;
    height:175px;
     margin: 10px;
  }
  
}
.textfooter{
  text-align: center;
  font-size: 10px;
  margin-left:30px;
  margin-right:30px;
}