<ion-header  color="primary" lines="none" >
    <ion-toolbar  color="primary" class="tete1"> 
        <ion-row>
            <ion-col col-5> </ion-col>
        <ion-col col-2 >
            <img src="/assets/icon/logoujob.png" class="imagelogo" />
      </ion-col>
      <ion-col col-5></ion-col>
      </ion-row>
      
    </ion-toolbar> 
    <ion-toolbar  color="tertiary" lines="none" > 
        <ion-card-content padding>
            <div class="titres">
                <h2 class="titre1" >Inscription Annonceur</h2>
                <h6 class="titre3" >C'est facile et rapide.</h6>
            </div>
        </ion-card-content >
      </ion-toolbar>
  </ion-header> 
<ion-content  padding>
    <div class="container">
        <div class="row"> 
          <form [formGroup]="sendForm" (ngSubmit)="onSubmitA()" >
            <!-- <section text-center class="profile-picture" (click)="selectImage()">
                <span class="profile-picture__icon">
                  <ion-icon name="md-create"></ion-icon>
                </span>
                <img *ngIf="image" [src]="image" class="profile-picture__image" alt="Profile Picture">
                <img *ngIf="!image" [src]="'assets/imgs/user-placeholder.svg'" class="profile-picture__image" alt="Profile Picture">
              </section> -->
                <div class="form-group">
                    <div class="image-upload">
                         <label for="file-input">
                               <img src="assets/img/images.png" alt="Paris" style="width:30%;">
                         </label>
                        <input id="file-input" type="file" name="logo" formControlName="logo" #logo (change)="onFileSelect($event)" multiple/>
                    </div>
                </div>
               <!--  <div class="form-group">
                    <img [src]="imageUrl" class="tof" >
                    <input   (change)="handleFileInput($event.target.files)" #image accept="images/*" [(ngModel)]= "addUtilisateurData.imageFile" name="imageFile" type="file" class=" rounded-0" >
                </div> -->
                <div class="form-group">
                      <input class="form-control" placeholder="Nom entreprise" formControlName="nomentrep">
                </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.nomentrep">
                          <div class="error-message" *ngIf="sendForm.get('nomentrep').hasError(validation.type) && (sendForm.get('nomentrep').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>
                  <div class="form-group">
                    <input formControlName="adressentrep" class="form-control" placeholder="Adresse">
                  </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of ValidationMsg.adressentrep">
                        <div class="error-message" *ngIf="sendForm.get('adressentrep').hasError(validation.type) && (sendForm.get('adressentrep').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <div class="form-group">
                      <input formControlName="libellee" class="form-control" placeholder="Secteur d'activité">
                </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.libellee">
                          <div color="re" class="error-message" *ngIf="sendForm.get('libellee').hasError(validation.type) && (sendForm.get('libellee').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>
                  <div class="form-group">
                      <input type="email" formControlName="username" class="form-control" placeholder="E-mail">
                </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.username">
                          <div class="error-message" *ngIf="sendForm.get('username').hasError(validation.type) && (sendForm.get('username').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>
                  <div class="form-group">
                    <input formControlName="telephone"class="form-control" placeholder="Télephone fixe" >
                 </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of ValidationMsg.username">
                        <div class="error-message" *ngIf="sendForm.get('telephone').hasError(validation.type) && (sendForm.get('telephone').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <input formControlName="telephone1" class="form-control" placeholder="Téléphone mobile">
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of ValidationMsg.telephone1">
                        <div class="error-message" *ngIf="sendForm.get('telephone1').hasError(validation.type) && (sendForm.get('telephone1').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <div class="form-group">
                      <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe">
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.password">
                          <div class="error-message" *ngIf="sendForm.get('password').hasError(validation.type) && (sendForm.get('password').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>

                  <div class="form-group">
                      <input  type="password" formControlName="confirmepassword" class="form-control" placeholder="Comfirmer le mot passe">
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.confirmepassword">
                          <div class="error-message" *ngIf="sendForm.get('confirmepassword').hasError(validation.type) && (sendForm.get('confirmepassword').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>
                  
                    <ion-button type="submit"  padding expand="block"  color="primary"  >S'inscrire</ion-button>
          </form>
        </div>
    </div> 
</ion-content>
<ion-footer color="primary" lines="none">
    <ion-toolbar   color="primary">
      <p  class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
    </ion-toolbar>
</ion-footer>
  
