<ion-header>
  <ion-toolbar color="primary"  lines="none">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>
  <ion-toolbar  color="tertiary" lines="none"> 
    <ion-card-content padding>
      <div class="titres">
        <h2 class="titre1">Informations personnelles du candidat</h2>
    </div>
  </ion-card-content >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content class="ion-padding">
    <div class="container">
      <div class="row">                                                                                  
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate >
        <div class="form-group">
          <label for="exampleInputEmail1">Titre</label>
          <input type="text"   formControlName="titre" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.required">
            Titre est obligatoire.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.titre.errors?.minlength">
            Le Titre doit comporter au moins 5 caractaires.
          </span>
        </div>
        
        <div class="form-group">
          <label for="exampleInputEmail1">Situation actuelle</label>
          <input   type="text" placeholder="Exp: Recherche emploi" formControlName="situation" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.situation.errors?.required">
            La situation actuelle est obligatoire.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.situation.errors?.minlength">
            Le Titre doit comporter au moins 2 caractaires.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">vos compétences</label>
          <p>Definissez en premier vos compétences clés</p>
          <input   type="text" placeholder="compétences..."  formControlName="competence" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competence.errors?.required">
            Compétence vides.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.competence.errors?.minlength">
            Les compétences doivent comporter au moins 10 caractaires.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Resumé</label>
          <textarea  type="text"    formControlName="resumer" class="form-control" rows="3"></textarea>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.resumer.errors?.minlength">
            Le resumé est trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Compte Twitter</label>
          <ion-row>
            <input type="text" placeholder="Insérez un lien pour accéder à  twitter"  formControlName="twitter" class="form-control">
          </ion-row>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.twitter.errors?.minlength">
            Ce lien est trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Compte LinkedIn</label>
          <ion-row>
            <input type="text" placeholder="Insérez un lien pour accéder à  LinkdIn"  formControlName="linkdIn" class="form-control">
          </ion-row>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.linkdIn.errors?.minlength">
            Ce lien est trop court.
          </span>
        </div>
        <ion-button type="submit" class="boutton"  expand="block" color="primary">Valider</ion-button>
        <ion-button type="submit" class="boutton" (click)=" onReturn()"  expand="block" color="danger">Annuler</ion-button>
        </form>
      </div>
    </div> 
  </ion-card-content>
</ion-content>
<ion-footer>
  <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
</ion-footer>
