.btnLogin {
    margin-top: 3vh;
}

.loginForm {
    margin-top: 20vh;
}

.loading {
    margin-top: 35vh;
}
ion-content {
    --background: url('/assets/img/bg.jpg') no-repeat center center / cover,100%,100%;
    --padding-top: 27% ;
  }
  #jolia {
    margin-top: 130%;
  }
  .btnLogin {
    margin-top: 3vh;
}

.loginForm {
    margin-top: 20vh;
}

.loading {
    margin-top: 35vh;
}
.boutton {
   
    border: none;
    font-size: auto; /* si le texte devient piti, mettre la valeur 1.6rem */
    text-align: center;
}
.textboutton{
    font-size: 15px;
    color: #ffffff;
}
.error{
    color: red;
}
