
<ion-content >
    <ion-card color="primary">
        
        <ion-card-content class="ion-padding">
            <div class="container">
                <div class="row">
            <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="email" color="primary"  placeholder="E-mail" class="form-control"   formControlName="username">
                   
                    <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.username.errors?.pattern || errorControl.username.errors?.required )">
                        Veillez entrer un E-mail valide.
                    </span>
                </div>
                <div class="form-group">
                    <input  color="primary" type="password" placeholder="Mot de passe" class="form-control"  formControlName="password">
                    <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.password.errors?.pattern || errorControl.password.errors?.required)">
                        Le mot de passe est invalide.
                    </span>
                    <span class="error ion-padding" *ngIf="isSubmitted &&  errorControl.password.errors?.minlength ">
                        Veillez saisir au moins 6 caractères.
                    </span>
                </div>
                <p class="ion-float-right" ion-button class="textboutton"  (click)="doForgotPassword()" clear block>Mot de passe oublié?</p>
                <!-- <ion-item lines="none" color="#abd3db" >
                    
                     <ion-row>
                        <ion-col  col-9 >
                            
                        </ion-col>
                        <ion-col  col-3>
                             <p class="ion-float-left" ion-button class="textboutton" (click)="doForgotPassword()" clear block>Se rappeler de moi?</p> 
                            </ion-col>
                    </ion-row> 
                </ion-item> -->
                <ion-row>
                    <ion-col  col-3 ></ion-col><ion-col  col-6>
                        <ion-button type="submit"  class="boutton" expand="block" color="light">Se connecter</ion-button>
                    </ion-col><ion-col  col-3></ion-col>
                </ion-row>
                
            </form>
            <ion-row>
                <ion-col  col-3></ion-col><ion-col  col-6>
                    <ion-button type="submit" class="boutton"   expand="block" (click)="choixProfil()" color="secondary" >Inscription</ion-button>
                </ion-col><ion-col  col-3></ion-col>
            </ion-row> 
        </div >
    </div>
        </ion-card-content>
    </ion-card>

      
   
 <!--    <ion-card color="primary" >
    <ion-card-content padding>
            <ion-row>
                <ion-col col-1></ion-col><ion-col col-10>
            <ion-button type="submit"  expand="block" color="light" [routerLink]="['/choixprofil']" >Inscription</ion-button>
             <ion-item padding-top lines="none">
                <ion-label  text-center>Ou connectez-vous avec</ion-label>
            </ion-item> 
        </ion-col><ion-col col-1></ion-col>
    </ion-row>
    </ion-card-content>
    </ion-card> -->


    <!-- <div class="container"> 
        <ion-row padding-top>
            <ion-col col-6 float-left>
        <ion-button expand="block" color="facebook"  (click)="facebookLogin()" shape="round">
          <ion-icon  name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
    </ion-col>
        <ion-col col-6 float-right>
        <ion-button (click)="googleLogin()"  expand="block" color="google" shape="round">
          <ion-icon  name="logo-google"></ion-icon>
          Google
        </ion-button>
    </ion-col>
    </ion-row>
    </div> -->
</ion-content> 

