<ion-header>
  <ion-toolbar color="primary"  lines="none">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="header">
    <img src="/assets/img/tete.png" class="images">
  </div>
  <ion-card-content class="ion-padding" color="tertiary">
    <div class="titleheader">
      <div class="flex">
        <h2 class="titre1">Ajouter          </h2>
        <h2 class="titre1">Une annonce</h2>
      </div>
      <h6 class="titre2">C'est rapide et facile.</h6>
    </div>
  </ion-card-content>
  <ion-card-content class="ion-padding">
  <div class="container">
    <div class="row">                                                                                  
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <div class="form-group">
        <label position="floating">Date de début</label>
        <ion-datetime class="inpute" (ionChange)="getDate($event)" class="form-control" formControlName="datedebut" [value]="defaultDate"><ion-icon slot="end" name="calendar-outline"></ion-icon></ion-datetime>
      </div>
      <div class="form-group">
        <label position="floating">Date de fin</label>
        <ion-datetime class="inpute" (ionChange)="getDate($event)" class="form-control" formControlName="datefin" [value]="defaultDate"><ion-icon slot="end" name="calendar-outline"></ion-icon></ion-datetime>
      </div>
      <div class="form-group">
        <label  for="exampleInputEmail1">Rubrique</label>
        <select class="inpute"   formControlName="libel" aria-placeholder="Rubrique "    class="form-control" >
          <option *ngFor="let libel of libel" [value]="libel">{{libel}}</option>
        </select>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libel.errors?.required">
          Le secteur est obligatoire.
        </span>
      </div>
      <div class="form-group">
        <label  for="exampleInputEmail1">Type de contrat</label>
        <select class="inpute"  formControlName="typecontrat" aria-placeholder="Type de contrat "  class="form-control" >
          <option *ngFor="let typcontrat of typecontrat" [value]="typecontrat">{{typecontrat}}</option>
        </select>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.typecontrat.errors?.required">
          Le type de contrat est obligatoire.
        </span>
      </div>
     <!--  <div class="form-group">
        <select   formControlName="libellee" aria-placeholder="Secteur "    class="form-control" >
          <option *ngFor="let secteurs of secteur" [value]="secteurs.libellee">{{secteur.libellee}}</option>
        </select>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libelle.errors?.required">
          Le poste est obligatoire?
        </span>
      </div> -->
     <!--  <div class="form-group">
        <select   formControlName="libelle" aria-placeholder="Poste "    class="form-control" >
          <option *ngFor="let metier of metier" [value]="metier.libelle">{{metier.libelle}}</option>
        </select>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libelle.errors?.required">
          Le poste est obligatoire?
        </span>
      </div> -->
      <div class="form-group">
          <label  for="exampleInputEmail1">Secteur</label>
          <input  class="inpute"  type="text"     formControlName="libellee" class="form-control" >
        
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libellee.errors?.required">
          Secteur est  vide.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libellee.errors?.minlength">
          Le secteur  doit comporter  au moins 5 caractaires.
        </span>
      </div>

      <div class="form-group">
        <label  for="exampleInputEmail1">Intitulé du poste</label>
        <input  class="inpute"  type="text"     formControlName="libelle" class="form-control" >
      
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libelle.errors?.required">
        Le métier est  vide.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libelle.errors?.minlength">
        Le Métier  doit comporter  au moins 5 caractaires.
      </span>
    </div>

      <div class="form-group">
        <label  for="exampleInputEmail1">Description du poste</label>
        <textarea   class="inpute" type="text"     formControlName="description" class="form-control" rows="3"></textarea>
      </div> 
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
        La description doit est au moins 10 caractaires.
      </span>
 
        <ion-row>
          <ion-col col-6>
            <ion-button type="submit" class="boutton"  expand="block" color="primary">Ajouter</ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button type="submit" class="boutton"  expand="block" color="danger">Annuler</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div> 
  </ion-card-content>
</ion-content>
<ion-footer color="primary" lines="none">
    <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
</ion-footer>
