.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  } 
  #jolia {
    margin-top: 130%;
  }
 /*  ion-item{
    --ion-background-color: transparent!important;
  } */
  ion-content{
    --ion-background-color: #e3eeee;
  }
  ion-toolbar{
    --ion-background-color: #1c8c9c;
  }
 /*  p{
    text-align: center;
    font-weight: 5px;
    color:#ffffff;
  }  */
  .metier{
    font-weight: bold;
  }
  /* .pied1{
    --ion-background-color: transparent!important;
  } */
  .imagelogo{
    width:70%;
    height:70%;
  }
  .tetehaut{
    height: 50%;
  }