<ion-header>
  <ion-toolbar  color="primary" class="tetehaut">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2>
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list >
      <ion-item *ngFor=" let offre of offres " color="light" class="ion-margin-bottom" (click)=" onDetails(offre)" >
            <ion-thumbnail slot="start">
              <img src="/assets/icon/logoujob.png" > 
            </ion-thumbnail>
            <ion-label>
                <h2 class="metier">{{offre.offremetier.libelle}}</h2>
                <!-- <h2>{{offre.datedebut | date:'MM/dd/yyyy HH-mm'}}</h2> -->
                <h6>{{offre.datefin | date:'MM/dd/yyyy HH-mm'}} | Contrat {{offre.typecontrat}}</h6> 
                <p >{{offre.description}}</p>
                <p >Région de {{offre.region}}</p>      
            </ion-label>
      </ion-item>
  </ion-list>
</ion-content>