 ion-content {
    --ion-background-color: #e3eeee	;
} 
ion-toolbar {
    --ion-background-color: #e3eeee	; 
}  
.titre1{
    font-weight: bolder;
    color: #048B9A;
    padding: right;
}
.titre2{
    color: #ffffff;
    font-weight: bolder;
}
.titre3{
    color: #048B9A;
    padding: right;
}
/* .tete1{
    height:20px;
} */
.tete2{
    height:20px;
}
p{
    color:#ffffff;
    text-align: center;
    font-size: 12px;
}
.titleicon div{
    display:inline-block;
    margin-bottom:10px;
    }
#logo {
    padding-right: 40%;
    align-items: center;
}
.imagelogo{
    width:70%;
    height:70%;
  }
  .tetehaut{
    height: 35%;
  }
  .titrehaut{
    height: 40%;
  }
  .titres{
      padding: right;
  }
  .textfooter{
    text-align: center;
    font-size: 10px;
    margin-left:30px;
    margin-right:30px;
  }
