<ion-header  color="tertiary" lines="none">
  <ion-toolbar class="tete1"  color="primary" lines="none"> 
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
        <img src="/assets/icon/logoujob.png" class="imagelogo" />
  </ion-col>
  <ion-col col-5></ion-col>
  </ion-row>
  </ion-toolbar>
  <ion-toolbar  color="tertiary" lines="none"> 
    <ion-card-content padding>
      <div class="titres">
        <h2 class="titre1" >Inscription Candidat</h2>
        <h6 class="titre3" >C'est facile et rapide.</h6>
    </div>
  </ion-card-content >
  </ion-toolbar>
</ion-header> 
<ion-content>
     <ion-card-content padding>
        <div class="container">
        <div class="row">
          <form [formGroup]="sendForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                  <div class="image-upload">
                      <label for="file-input" >
                            <img src="assets/img/images.png" alt="Paris" style="width:30%;">
                      </label>
                      <input id="file-input" type="file" name="photo" formControlName="photo" #photo (change)="onFileSelect($event)" multiple/>
                  </div>
                </div>
                    <div class="form-group">
                      <input  class="form-control" placeholder="Prénom" formControlName="prenom" ngModel>
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.prenom">
                          <div class="error-message" *ngIf="sendForm.get('prenom').hasError(validation.type) && (sendForm.get('prenom').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>

                  <div class="form-group">
                      <input  placeholder="Nom" class="form-control" formControlName="nom" ngModel>
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.nom">
                          <div color="danger" class="error-message" *ngIf="sendForm.get('nom').hasError(validation.type) && (sendForm.get('nom').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>

                  <div class="form-group">
                      <input  placeholder="Téléphone" class="form-control" formControlName="telephone" ngModel>
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.telephone">
                          <div class="error-message" *ngIf="sendForm.get('telephone').hasError(validation.type) && (sendForm.get('telephone').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>

                  <div class="form-group">
                      <input  placeholder="E-mail" class="form-control" type="email" formControlName="username" ngModel>
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.username">
                          <div class="error-message" *ngIf="sendForm.get('username').hasError(validation.type) && (sendForm.get('username').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>

                  <div class="form-group">
                      <input  placeholder="Mot de passe" class="form-control" type="password" formControlName="password" ngModel>
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.password">
                          <div class="error-message" *ngIf="sendForm.get('password').hasError(validation.type) && (sendForm.get('password').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>

                  <div class="form-group">
                      <input  placeholder="Confirmer le mot de passe" class="form-control" type="password" formControlName="confirmepassword" ngModel>
                    </div>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of ValidationMsg.confirmepassword">
                          <div class="error-message" *ngIf="sendForm.get('confirmepassword').hasError(validation.type) && (sendForm.get('confirmepassword').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                      </ng-container>
                  </div>
                    <ion-button type="submit"  padding expand="block"  color="primary"  > <ion-icon  slot="start" src="/assets/icon/logoujob.png"></ion-icon>Enregistrer</ion-button>
          </form>
        </div>

    <div> 
      <ion-row padding-top>
    <ion-col col-6 float-left>
      <ion-button expand="block" color="facebook"  (click)="facebookLogin()">
        <ion-icon  slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
  </ion-col>
      <ion-col col-6 float-right>
      <ion-button (click)="googleLogin()"  expand="block" color="google" >
        <ion-icon slot="start"  name="logo-google"></ion-icon>
        Google
      </ion-button>
  </ion-col>
  </ion-row>
  </div> 
    </div> 
    </ion-card-content>
</ion-content>
<ion-footer color="primary" lines="none">
  <ion-toolbar   color="primary">
    <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
  </ion-toolbar>
</ion-footer>