<ion-header  color="primary" lines="none">
  <ion-toolbar  color="primary" class="imagelogo"> 
    <ion-item  color="primary">
      <img src="/assets/icon/logoujob.png" class="imagelogo" />
    </ion-item>
    
  </ion-toolbar> 
</ion-header> 



<ion-content padding padding-top >
 
<div   class="forgot">
  <form [formGroup]="form">
      <ion-list no-lines>
          <ion-item>
              <ion-icon name="mail" item-left></ion-icon>
              <ion-input formControlName="username" [(ngModel)]="user.login" name="user.login" type="email" placeholder="Email Address"> </ion-input>
          </ion-item>

          <ion-button type="submit" shape="round" padding expand="block"  color="primary" (click)="reset(user)"  >RESET</ion-button>
      </ion-list>
  </form>
  </div>

</ion-content>
<ion-footer color="primary" lines="none">
  <ion-toolbar   color="primary">
    <p  text-center>En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
  </ion-toolbar>
</ion-footer>
