<!-- <div *ngIf="showSplash" class="splash">
    <div class="spinner">
        
    </div>
</div> -->
<div id="custom-overlay" [style.display]="showSplash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="/assets/icon/logoujob.png">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>
<ion-app >
      <ion-menu color="primary"  type="overlay" contentId="content" *ngIf="isAuthencated()">
        <ion-header color="primary">
            <ion-toolbar color="primary" class="profile">
                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                        <img src="/assets/img/ch.jpg">
                    </ion-thumbnail>
                    <ion-label>
                      <h2 color="primary">Cheikh Diop Gaye</h2>
                      <h4 color="primary" [routerLink]="['/profil']">Voir profil </h4>
                    </ion-label>
                  </ion-item>
            </ion-toolbar>
        </ion-header>
        <ion-content  style="background:#1c8c9c ">
            <ion-list >
                <ion-menu-toggle  style="background:#1c8c9c " auto-hide="false" >
                   <!--  Side Menu for Annonceur -->
                    <ion-item lines="none" *ngIf="isANNONCEUR()" [routerLink]="['/home']">
                        <ion-icon  slot="start" name="home" ></ion-icon>
                        <ion-label  color="light" font-weight="bold"  >Accueil</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isANNONCEUR()" [routerLink]="['/alertesannonceur']">
                        <ion-icon  slot="start" name="notifications"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Mes Alertes</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isANNONCEUR()" [routerLink]="['/addoffre']">
                        <ion-icon  slot="start" name="add"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Créer une annonce</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isANNONCEUR()" [routerLink]="['/annonceurlist']">
                        <ion-icon  slot="start" name="briefcase"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Mes Annonces</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isANNONCEUR()" [routerLink]="['/home']">
                        <ion-icon  slot="start" name="home"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Rechercer un candidat</ion-label>
                    </ion-item>

                   <!--   Side Menu for Candidat -->

                    <ion-item lines="none" *ngIf="isCANDIDAT()" [routerLink]="['/accueilcandidat']">
                        <ion-icon  slot="start" name="home" ></ion-icon>
                        <ion-label font-weight="bold" color="light" >Accueil</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isCANDIDAT()" [routerLink]="['/alertcandidat']">
                        <ion-icon  slot="start" name="notifications"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Mes Alertes</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isCANDIDAT()" [routerLink]="['/cv']">
                        <ion-icon  slot="start" name="clipboard"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Mon CV</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isCANDIDAT()" [routerLink]="['/accueilcandidat']">
                        <ion-icon  slot="start" name="home"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Rechercher un emploi</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isCANDIDAT()" [routerLink]="['/demandelist']">
                        <ion-icon  slot="start" name="briefcase"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Mes Demandes</ion-label>
                    </ion-item>
                    <ion-item lines="none" *ngIf="isCANDIDAT()" [routerLink]="['/demovideo']">
                        <ion-icon  slot="start" name="videocam"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Demo Vidéo</ion-label>
                    </ion-item>
                    <ion-item lines="none" (click)="Deconnecte()">
                        <ion-icon  slot="start" name="log-out"></ion-icon>
                        <ion-label color="light" font-weight="bold"  >Se  déconnceter</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>