/* .splash{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1c8c9c ;
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  } */
  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #ffffff;
  }
  
  .flb {
    background: url('/assets/img/img2.jpg') no-repeat center center / cover,100%,100%;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }

/// Here CSS3  powered animation code 

@keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
 ion-content {
    --ion-background-color: #1c8c9c;
    
}
ion-header {
  color: #1c8c9c;
  
} 
#user-profil{
  .toolbar-background{
    background-image:  #4A69FF;
  }
  color: #ffffff;
}
ion-toolbar{
  --ion-background-color: #1c8c9c;
} 
ion-icon {
  color: #ffffff;
  
} 
ion-label {
  --ion-color: #ffffff;
  
}
h2{
  font-weight: bolder;
  color:#ffffff;
}
h4{

  font-weight: bold;
  color: orange	;
}

p{
  text-align: center;
  font-weight: bold;
  color:#ffffff;
}
/* .profile{
  margin-bottom: 20px;
} */
