/* ion-content{
    --ion-background-color: #e3eeee;
  } */
  ion-toolbar{
    --ion-background-color: #1c8c9c;
  }
  ion-footer{
    ion-toolbar{
        --ion-background: transparent!important;
    }
   
  }
  .imagelogo{
    width:70%;
    height:70%;
  }
  .titre1{
    font-weight: bolder;
    color: #048B9A;
    text-align: center;
}
.titre2{
    color: #048B9A;
}
.titre3{
    font-weight: normal;
    color: #048B9A;
    margin-top: -20px;
}
.titleheader{
    height: 50px;
    width: 100%;
}
.images{
    height: 100px;
    width: 100%;
}
.flex {
    display: flex;
}
.btnLogin {
    margin-top: 3vh;
}

.loginForm {
    margin-top: 20vh;
}

.boutton {
   
    border: none;
    font-size: auto; /* si le texte devient piti, mettre la valeur 1.6rem */
}
.textboutton{
    font-size: 15px;
    color: #ffffff;
}


label{
    color: #048B9A;
    font-size: bold;
}
input{
    border: 1px, #048B9A;
}
.textfooter{
    text-align: center;
    font-size: 10px;
    margin-left:30px;
    margin-right:30px;
}
.error{
    color: red;
}