<ion-header>
  <ion-toolbar color="primary"  lines="none">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>
  <ion-toolbar  color="tertiary" lines="none"> 
    <ion-card-content padding>
      <div class="titres">
        <h2 class="titre1">Ajouter une formation ou certification</h2>
    </div>
  </ion-card-content >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content class="ion-padding">
    <div class="container">
      <div class="row">                                                                                  
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate >
        <div class="form-group">
          <label for="exampleInputEmail1">Nom de l'établissement</label>
          <input type="text" placeholder="Exp: Université Cheikh Anta Diop"  formControlName="etablissement" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.etablissement.errors?.required">
            Le nom de l'établissement ne doit pas etre vide.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.etablissement.errors?.minlength">
            Nom trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Diplôme</label>
          <input type="text" placeholder="Exp: Licence"   formControlName="diplome" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.diplome.errors?.required">
            Le diplôme ne doit pas etre vide.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.diplome.errors?.minlength">
            Nom trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Domaine d'étude</label>
          <input type="text" placeholder="Exp: Informatique"   formControlName="domaine" class="form-control">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.domaine.errors?.required">
            Le domaine d'étude ne doit pas etre vide.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.domaine.errors?.minlength">
            Nom trop court.
          </span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Date de début</label>
          <ion-datetime (ionChange)="getDate($event)" class="form-control" formControlName="datedebut" [value]="defaultDate"><ion-icon slot="end" name="calendar-outline"></ion-icon></ion-datetime>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Date de fin</label>
          <ion-datetime (ionChange)="getDate($event)" class="form-control" formControlName="datefin" [value]="defaultDate"><ion-icon slot="end" name="calendar-outline"></ion-icon></ion-datetime>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description du poste</label>
          <textarea  type="text"   formControlName="description" class="form-control" rows="3"></textarea>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
            Description trop court.
          </span>
        </div>
        <ion-button type="submit" class="boutton"  expand="block" color="primary">Valider</ion-button>
        <ion-button type="submit" class="boutton" (click)=" onReturn()" expand="block" color="danger">Annuler</ion-button>
        </form>
      </div>
    </div> 
  </ion-card-content>
</ion-content>
<ion-footer>
  <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
</ion-footer>