<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="onReturn()">
          <ion-icon name="md-arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title class="ion-text-center">{{offre.offremetier.libelle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item  lines="none">
            <ion-thumbnail slot="start">
                <img [src]="offre.offruser.entreprise.logo" > 
            </ion-thumbnail>
              <ion-label padding>
                <h2><strong>{{offre.offruser.entreprise.nomentrep}}</strong></h2>
                <h3><strong>{{offre.offruser.entreprise.adressentrep}}</strong></h3> 
                <!-- <h3>{{offre.offruser.entreprise.siteinternet}}</h3>  -->
                <h6 class="titre1">Date de debut: {{offre.datedebut  | date:'MM/dd/yyyy '}}</h6>
                <h6 class="titre1">Date de fin: {{offre.datefin  | date:'MM/dd/yyyy '}}</h6>
              </ion-label>
          </ion-item>
          <ion-list lines="none">
              <ion-item>
                <ion-label class="titre1"><strong>Profil recherché:  </strong></ion-label>
                <ion-label>{{offre.offremetier.libelle}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label class="titre1"><strong>Description de l'offre :</strong></ion-label>
              </ion-item>
              <ion-item>
                <p>{{offre.description}}</p>
            </ion-item>
            <ion-item>
                <ion-label class="titre1"><strong>Compétences et expériences clés</strong></ion-label>
            </ion-item>
            <ion-item>
            </ion-item>
              <ion-item>
                  <ion-label class="titre1"><strong>Type de contrat :</strong></ion-label>
                  <ion-label>{{offre.typecontrat}}</ion-label>
              </ion-item>
            
          </ion-list>
          <ion-row>
            <ion-col col-6>
              <ion-button type="submit" class="boutton"  (click)=" postuler()" expand="block" color="primary">Postuler</ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button type="submit" class="boutton" (click)=" onReturn()" expand="block" color="danger">Annuler</ion-button>
            </ion-col>
          </ion-row>
</ion-content>
<ion-footer >
    <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
</ion-footer>
