<ion-header  color="primary" lines="none">
  <ion-toolbar  color="primary" class="tete1"> 
    <ion-row>
      <ion-col col-5> </ion-col>
  <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>

  </ion-toolbar>
  <ion-toolbar   color="tertiary" lines="none" >
    <h4 class="titre1">Choisissez votre profil</h4>
    <h6 class="titre2">C'est rapide et facile.</h6>
  <!-- 
    <ion-item lines="none">
        <ion-row>
            <h4 class="titre1" >Choix du profil</h4>
      </ion-row>
    </ion-item >
    <ion-item lines="none">
        <h6 class="titre3" color="primary">C'est facile et rapide.</h6>
    </ion-item>  -->
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-item color="#abd3db" lines="none">
    <ion-row padding-top>
      <ion-col col-6 float-left>
  <ion-button type="submit"   color="primary" expand="block" [routerLink]="['/addcandidat']"   class="addcandidat">Je suis candidat</ion-button>
</ion-col>
<ion-col col-6 float-right>
  <ion-button   type="submit"   color="light" expand="block" [routerLink]="['/addannonceur']"   class="addannonceur">Je suis annonceur</ion-button>
</ion-col>
</ion-row>
</ion-item>
</ion-content>
<ion-footer color="#abd3db" lines="none">
  <ion-toolbar color="medium" class="condit" lines="none">
    <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
  </ion-toolbar>
</ion-footer>
