ion-content {
    --background: url('/assets/img/img1.jpg') no-repeat center center / cover,100%,100%;
    --padding-top: 80% ;
}
ion-footer{
    --ion-background-color: #abd3db	;
}
h1,h4{
    font-weight: bolder;
    color: #048B9A;
    text-align: center;
}
p{
    text-align: center;
    font-size: 9px;
}
#buttons{
   padding-top: 20%; 
}
#logo{
    padding-left: 50px;
    display: block;
}
.titre1{
    font-weight: bolder;
    color: #048B9A;
    text-align: center;
}
.titre2{
    color: #048B9A;
    text-align: center;
}
.titre3{
    font-weight: normal;
    color: #048B9A;
    margin-top: -20px;
}
/* .tete1{
    height:20px;
} */
.tete2{
    height:20px;
}
.condit{
    background-color: transparent!important;
}
.toolbar2{
    background-color: transparent!important;
}
.imagelogo{
    width:70%;
    height:70%;
  }
  .tetehaut{
    height: 35%;
  }
  .titrehaut{
    height: 40%;
  }
  .textfooter{
    text-align: center;
    font-size: 10px;
    margin-left:30px;
    margin-right:30px;
}