<ion-header>
  <ion-toolbar color="primary"  lines="none">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>
  <ion-toolbar  color="tertiary" lines="none"> 
    <ion-card-content padding>
      <div class="titres">
        <h2 class="titre1">Ajouter une langue</h2>
    </div>
  </ion-card-content >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content class="ion-padding">
    <div class="container">
      <div class="row">                                                                                  
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate >
          <div class="form-group">
            <label >Langue</label>
            <input type="text" placeholder="Exp: Français"  formControlName="libeller" class="form-control">
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.libeller.errors?.minlength">
              Le Titre doit comporter au moins 3 caractaires.
            </span>
          </div>
          
          <div class="form-group">
            <label >Niveau</label>
            <input   type="text" placeholder="Exp: Niveau Moyen" formControlName="niveau" class="form-control">
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.niveau.errors?.minlength">
              Le Titre doit comporter au moins 2 caractaires.
            </span>
          </div>
          <ion-button type="submit" class="boutton"  expand="block" color="primary">Valider</ion-button>
          <ion-button type="submit" class="boutton" (click)=" onReturn()"  expand="block" color="danger">Annuler</ion-button>
        </form>
      </div>
    </div> 
  </ion-card-content>
</ion-content>
<ion-footer>
  <p class="textfooter">En continuant, vous acceptez les conditions d'utilisation et la politique de confidentialité de Ujob</p>
</ion-footer>
