 .welcome-card img {
  max-height: 35vh;
  overflow: hidden;
} 
ion-content{
  --ion-background-color: #e3eeee;
}
ion-toolbar{
  --ion-background-color: #1c8c9c;
}
ion-footer{
  --ion-background: transparent!important;
}
.imagelogo{
  width:70%;
  height:70%;
}
.tetehaut{
  height: 50%;
}
/* ion-thumbnail {
  --background: url('/assets/img/images.png') no-repeat center center / cover,100%,100%;
} */