<ion-header>
  <ion-toolbar color="primary" class="tetehaut" lines="none">
      <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-row>
        <ion-col col-5> </ion-col>
    <ion-col col-2 >
    <img src="/assets/icon/logoujob.png" class="imagelogo" />
</ion-col>
<ion-col col-5></ion-col>
</ion-row>
  </ion-toolbar>
  <ion-toolbar color="primary" >
    <ion-row>
     <ion-col col-10>
        <ion-searchbar ></ion-searchbar>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content >
        <ion-list>
                <ion-item *ngFor="let cand of candidats" color="light" class="ion-margin-bottom" (click)=" onDetails(cand)" >
                  <ion-thumbnail slot="start">
                   <!--  <img [src]="cand.photo" /> -->
                    <img *ngIf="cand" [src]="cand.photo">
                  </ion-thumbnail>
                    <ion-label padding>
                        <h2>{{cand.prenom}}</h2>
                        <h3>{{cand.nom}}</h3>
                        <p >{{cand.telephone}}</p>
                    </ion-label>
                </ion-item>
        </ion-list>
  
</ion-content>
<ion-footer>
  <!-- <ion-row>
    <ion-col offset-1 col-10>
      <p>En continuant, vous accepter les conditions d'utilisation et la politique de confidentialité de Ujob</p>
    </ion-col>
  </ion-row> -->
</ion-footer>