<ion-header>
  <ion-toolbar color="primary" >
      <ion-buttons slot="start">
          <ion-menu-button>

          </ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
         <h3>Accueil Annonceur</h3>
      </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-list>
  <ion-item *ngFor=" let trans of candidats | async" >
      <ion-thumbnail>
        <img [src]="tof.logo1" > 
      </ion-thumbnail>
      <ion-label padding>
          <h2>{{trans.Prenom}}</h2>
          <h3>{{trans.nom }}</h3>
          <p >{{trans.telephone}}</p>
      </ion-label>

  </ion-item>
</ion-list> -->
<ion-content>

<ion-footer >
  <ion-toolbar  color="primary"></ion-toolbar>
</ion-footer>